html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-weight: var(--font-weight-bold);
  line-height: 1.25;
  font-family: var(--font-primary);
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-primary);
}

button, a {
  background: unset;
  border: unset;
  cursor: pointer;
  font-weight: var(--font-medium);
}

button[disabled], button[aria-disabled=true], button[data-disabled], a[disabled], a[aria-disabled=true], a[data-disabled] {
  cursor: default;
}