/*
  Colors
*/
:root {
  --color-white: #fff;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  --color-indigo-50: #eef2ff;
	--color-indigo-100: #e0e7ff;
	--color-indigo-200: #c7d2fe;
	--color-indigo-300: #a5b4fc;
	--color-indigo-400: #818cf8;
	--color-indigo-500: #6366f1;
	--color-indigo-600: #4f46e5;
	--color-indigo-700: #4338ca;
	--color-indigo-800: #3730a3;
	--color-indigo-900: #312e81;

  /* Classic Connect 4 Color Scheme */
  --color-classic-blue: #1B6DFC;
  --color-classic-yellow: #FDE711;
  --color-classic-red: #E61A2D;
}

/*
  Effects
*/
:root {
  --tw-shadow: 0 0 #0000;
}

/*
  Border
*/
:root {
  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.325rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.625rem;
  --rounded-2xl: 0.75rem;
  --rounded-3xl: 1.5rem;
  --rounded-full: 9999px;
}

/*
  Theme
*/
:root {
  --bg-app: var(--color-gray-100);
  --bg-surface: var(--color-white);
  --color-primary: var(--color-indigo-500);
}