.container {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-app);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  padding-top: 2rem;
}

.view {
  width: 100%;
  flex: 1;
}
