.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: var(--font-black);
  line-height: var(--leading-none);
  font-size: var(--text-4xl);
  font-family: Roboto, sans-serif;
  letter-spacing: 0px;
  width: min-content;
  height: min-content;
}

.prefix {
  text-transform: uppercase;
  -webkit-text-fill-color: var(--color-white);
  -webkit-text-stroke: 1.5px var(--color-gray-700);
  width: min-content;
}

.winNumber {
  opacity: 1;
  color: var(--color-classic-blue);
  font-size: 1.5em;
  width: min-content;
}