.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray-300);
  border-radius: var(--rounded-xl);
  height: 100%;
}

.heading {
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid var(--color-gray-300);
}

.title {
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  text-align: left;
}

.playerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
}

.playerInfo .circle {
  height: 0.75rem;
  width: 0.75rem;
}

.playerInfo > span {
  line-height: var(--leading-none);
  flex: 1;
  text-align: center;
  color: var(--color-gray-700);
  font-size: var(--text-xs);
}