.GameTopBar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.GameStatus {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-md);
  background: #000;
  padding: 1.5rem;
}

.GameStatus > .text {
  font-size: var(--text-base);
}