.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: var(--rounded-md);
}

.circle {
  border-radius: var(--rounded-full);
  background: var(--color-primary);
  height: 1.25rem;
  width: 1.25rem;
}

.text {
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  line-height: var(--leading-none);
}