.App {
  text-align: center;
}

.Instructions {
  display: flex;
  justify-content: center;
}

.Instructions-container {
  width: 500px;
  text-align: left;
}

.App-instructions {
  color: darkblue;
  cursor: pointer;
}